<h1 class="bold">TODO LIST</h1>

<div class="container">
  <form [formGroup]="todoForm" (ngSubmit)="submitTodo()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        formControlName="title"
        type="text"
        class="form-control border"
        id="title"
        placeholder="Mon todo"
      />
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <input
        formControlName="content"
        type="text"
        class="form-control"
        id="content"
        placeholder=""
      />
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Status</label>
      <select
        formControlName="status"
        class="form-select"
        aria-label="Default select example"
      >
        <option selected disabled>Choose a Status</option>

        @for (option of statusOptions; track option.value) {

        <option [value]="option.value">{{ option.label | titlecase }}</option>

        }
      </select>
    </div>
    <div class="mb-3">
      <label for="deadline" class="form-label">Deadline</label>
      <input
        formControlName="deadline"
        type="datetime-local"
        class="form-control"
        id="deadline"
      />
    </div>
    <button mat-flat-button>Save</button>
  </form>
</div>

<div class="d-flex justify-content-evenly flex-wrap gap-4">
  @if(todos.length === 0){
  <h2>Aucun todo pour le moment, veuillez en créer</h2>
  }@else{ @for(todo of todos; track todo.id){

  <mat-card [ngStyle]="" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ todo.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ todo.content }}</p>
      <time
        >{{
          (todo.deadline | date : "EEEE dd MMMM YYYY" | titlecase) +
            " " +
            (todo.deadline | date : "à HH'h'mm")
        }}
      </time>
    </mat-card-content>
    <mat-chip-set class="px-2">
      <mat-chip>{{ todo.status }}</mat-chip>
    </mat-chip-set>
    <div class="example-button-container">
      <button mat-fab extended>
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </div>
  </mat-card>
  } }
</div>
